<!DOCTYPE html>
<html>
<head>
<title>SortingList</title>    

<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
<script src="Listing.js"></script>
</head>
<body ng-app="listingApp" ng-controller="listingCtrl">
        <input type="text" ng-model="search"/>
        <a href="" ng-click="reverse = !reverse">Country Name</a>
        <div ng-repeat="a in list | orderBy:sortOrder:reverse | filter:search">
        <p>{{a.Country}}<span>{{a.Capital}}</span></p>
        </div>
</body>
</html>